@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Blog>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";

    var all = Model.Content.Children.Where(x => x.Id > 0);
    var ids = Model.Content.Children.Select(y => y.Id);
    var first = Model.Content.Children.FirstOrDefault();

    // Helpers
    var p = Umbraco.UrlProvider;
    var mode = p.Mode;
    var cq = Umbraco.ContentQuery;
    var culture = Umbraco.CultureDictionary.Culture;

}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")
<section class="section">
    <div class="container">
        @Umbraco.RenderMacro("latestBlogposts",
                     new
                     {
                         numberOfPosts = Model.Content.HowManyPostsShouldBeShown,
                         startNodeId = Model.Content.Id
                     })
        <!-- todo: implement paging -->
        <!--
        <nav class="nav-bar nav-bar--center">
            <a class="nav-link nav-link--black" href="">Prev</a>
            <a class="nav-link nav-link--black nav-link--active" href="">P1</a>
            <a class="nav-link nav-link--black" href="">P2</a>
            <a class="nav-link nav-link--black" href="">P3</a>
            <a class="nav-link nav-link--black" href="">P4</a>
            <a class="nav-link nav-link--black" href="">P5</a>
            <a class="nav-link nav-link--black" href="">Next</a>
        </nav>
        -->
    </div>

    @using (Html.BeginForm())
    {
        // Sammen med [ValidateAntiForgeryToken()] på Post-metoden i controlleren sikrer @Html.AntiForgeryToken() i viewet at kun forms generert på samme server blir prosessert.
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Product details</legend>
        </fieldset>

        // Bruk en (ekstern) ressursfil for tekster som det kan være behov for å endre, evt. betjene flere språk
        @Html.ActionLink(MyClassLibrary.Resources.ApplicationName, "Index", "Home")

    }

</section>